<!DOCTYPE html>
<html>

<head>
    <title>Add Item</title>
</head>

<body>
    <h1>Create a new wish list item, {{ user.name }}!!!</h1>

    {% if messages %} {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %} {% endif %}

    <form action="/submitItem" method='POST'>
        {% csrf_token %}
        <p>Item that you wish for:
            <input type="text" name="item">
        </p>
        <input type="submit" name="submit" value='Add Item!'>
    </form>
    <p>or...</p>
    <a href="/dashboard">Home</a>
    <a href="/logout">Logout</a>

</body>

</html>
</body>

</html>