<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
</head>

<body>
    <h2>Hello, {{ user.name }}</h2>
    <table>
        <h3>Your Wish List</h3>
        <tr>
            <th>Item --- </th>
            <th>Added By --- </th>
            <th>Date Added --- </th>
            <th>Action</th>
        </tr>

        {% for wish in my_wishes %}
        <tr>
            <td>
                <a href="/item/{{ wish.id }}">{{ wish.item }}</a>
            </td>
            <td>{{ wish.user.name }}{{ wish.user.name }}</td>
            <td>{{ wish.created_at }}</td>

            {% if user == wish.user %}
            <td>
                <a href='/delete/{{ wish.id }}'>Delete</a>
                {% endif %} {% if user != wish.user %}
                <td>
                    <a href="/remove_wish/{{ wish.id }}">Remove from my list</a>
                </td>
                {% endif %}
        </tr>
        {% endfor %}
    </table>
    <hr>
    <table>
        <H3>Other user's wish list:</H3>
        <tr>
            <th>Item --- </th>
            <th>Added By --- </th>
            <th>Date Added --- </th>
            <th>Action</th>
        </tr>
        {% for wish in wishes %}
        <tr>
            <td>
                <a href="/item/{{ wish.id }}">{{ wish.item }}</a>
            </td>
            <td>{{ wish.user.name }} {{ wish.user.username }}</td>
            <td>{{ wish.created_at }}</td>
            <td>
                <a href="/addWish/{{ wish.id }}">Add to my wishlist</a>
            </td>
        </tr>
        {% endfor %}
    </table>


    <a href="/addItem">Add a new Item!</a>

    <a href="/logout">Logout</a>
</body>

</html>