<!DOCTYPE html>
<html>

<head>
    <title>Quotes</title>
</head>

<body>
    <h1 style="color: green">Welcome, {{user.name}}!</h1>
    <a href="/logout">Logout</a>


    <h3 style="color: green">Quotable Quotes:</h3>
    <div id="quotes" style="overflow:scroll; height:300px;">
        {% for quote in quotable_quotes %}
        <div class="one_quote" style="border: 5px black solid; width: 350px">
            <p>{{quote.author}}:{{quote.content}}</p>
            <p>posted by:
                <a href="/users/{{quote.poster.id}}">{{quote.poster.name}}</a>
            </p>
            <a style="padding-left: 240px" href="/add_favorite/{{quote.id}}">Add to My List</a>
        </div>
        {% endfor %}
    </div>


    <p style="color: green">Your Favorites:</p>
    <div id="quotes" style="overflow:scroll; height:400px;">
        {% for favorite in favorites %}
        <div class="one_quote" style="border: 5px black solid; width: 350px">
            <p>{{favorite.author}}:{{favorite.content}}</p>
            <p>posted by:
                <a href="/users/{{favorite.poster.id}}">{{favorite.poster.name}}</a>
            </p>
            <a style="padding-left: 200px " href="/remove_favorite/{{favorite.id}}">Remove from My List</a>
        </div>
        {% endfor %}
    </div>

    {% if messages %} {% for message in messages%} {% if 'add_item' in message.tags %}
    <p>{{message}}</p>
    {% endif %} {%endfor%} {% endif %} 
    Contribute a Quote:
    <br>
    <form action="/create" method="post">
        {% csrf_token %} Quoted By:&nbsp&nbsp&nbsp&nbsp
        <input type="text" name="author">
        <br>
        Message:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <textarea name="content"></textarea>
        <br>
        <p style=" padding-left: 200px ">
            <input type="submit" value="Submit">
        </p>
    </form>
</body>

</html>