<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Friends list</title>
</head>
<body>
    <h1>HEY {{user.first_name}}</h1> <a href="/"><Button>Logout</Button></a>
    <h3>Your Friends</h3>
    <table border = 1>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            {% for friendship in friends %}
                <tr>
                    <td></td>{{ friendship.friend.first_name }}
                    <td>
                        <form action="/remove/{{friendship.friend.id}}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="End Friendship">
                    </form>
                    </td>
                </tr>
            {%endfor%}
        </table>


    <h3>People You May Know:</h3>

    <table border = 1>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        {% for person in not_friends %}
            <tr>
                <td><a href="/show/{{person.id}}">{{person.first_name}}</a></td>
                <td>
                    <form action="/add/{{person.id}}" method="post">
                        {% csrf_token %}
                    <input type="submit" value="Add Friend">
                    </form>
                </td>
            </tr>
        {%endfor%}
    </table>


</body>
</html>