<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <H1>Add a new user</H1>
    <form action="/add_user" method="POST">
         {% csrf_token %}
        <p>First Name:</p>
        <input type="text" name="first">
        <p>Last Name:</p>
        <input type="text" name="last">
        <p>Email:</p>
        <input type="text" name="email">
        <br>
        <br>
        <input type="submit" name="button" value="Create">
        <br>
        <a href="/">Go Back</a>

        </form>
</body>
</html>